<div class="qrcode-footer">
	<div class="qrcode-footer-in">
		<div class="homepage-footer-wrap">
			<ul>
				<li class=""><a href="https://github.com/manydots/gooseeker" target="_blank">GitHub</a></li>
				<li class=""><a href="https://github.com/manydots/electron" target="_blank">Electron</a></li>
				<li class=""><a href="https://github.com/sqaiyan/netmusic-node" target="_blank">netmusic-node</a></li>
				<li class=""><a href="https://github.com/Binaryify/NeteaseCloudMusicApi" target="_blank">NeteaseCloudMusicApi</a></li>
			</ul>
		</div>
		<div class="copyright-footer-wrap">
			<div class="copyright-in">
				浙ICP备17026693号-2 ©2018-2019 Mo.chen
			</div>
		</div>
	</div>
</div>