<div class="qrcode-nav">
	<div class="qrcode-nav-content w990" style="color:#666;font-size:14px">
		<ul>
			<li class="mr15">
				<a href="javascript:;" style="color:#666;cursor:default;">当前已调用 <b class="apiTotals" style="color:#333;font-size:16px;"><%= totals %></b> 次</a>
			</li>
			<li class="mr15"><a href="/v1" target="_self" style="color:#666">API调用示例</a><li>
			<li class="mr15"><a href="https://web.jeeas.cn" target="_blank" data-spm-disabled="true" style="color:#666">Electron-Web端调用示例</a><li>
			<li class="mr15"><a href="/music" target="_self" style="color:#666">Socket调用示例(仅内部使用)</a><li>
		</ul>
	</div>
</div>